/*font*/
.fontstandard{
    font-family: Arial, Helvetica, sans-serif;
}
.fontsito{ /*classe 1*/
    font-family: Arial, Helvetica, sans-serif;
}
.fontevidenza{ /*classe 2*/
    font-weight: 700;
    font-style: oblique;
}
.fontgrande{ /*classe 3*/
    font-size: 26px;
}
.fontgrigio{/*classe 4*/
    color:grey;
}
.fonterrore{/*classe 5*/
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}
.titolo{/*classe 6*/
    font-size: 26px;
    text-shadow: 3px 3px 3px #444;
}
.bordertoptitolo{
    border-top:2px solid grey;
}
.bordoautore{
    border-bottom:1px dashed green;
    border-right:1px dashed green;
    padding: 4px;
}
/*border*/
.bordato{border-width:3px;border-color:#77c4d3;}
.bordoarrotondato{
    border-radius: 5px;
}
.bordoimg{
    border-radius: 20px;
    border-width:5px;
    border-color:green;
    border-style: solid;
}
.mwidth200{
    max-width:200px;
}
.bordoarrotondatotopleft{
    border-top-left-radius: 20px;
    border-width:5px;
    border-color:rgb(65, 166, 224);
    border-style: groove;
}
.bordoconimmagine{
    border:10px solid transparent;
    border-image:url(border2.png);
    border-image-slice: 20;
    border-image-width: 10px;
    border-image-repeat: repeat;
}
/* #miodiv p:nth-child(1){background-color: red !important;} */
/* comportamento del width */
/* #div1{width:200px;}
.divc{max-width:200px;}
#div2{min-width:200px;} */

/* comportamento del height */
#div1{height:50px;}
.divc{max-height:50px;}
#div2{min-height:50px;}
#div3{
	border-top: 2px dotted red;
	border-right: 3px dashed green;
	border-bottom: 4px solid blue;
	border-left: 3px dashed green;
}
/*overflow: indica al contenitore cosa fare se non ci sta il contenuto*/
/* #div1{overflow: hidden;} */
/* #div1{overflow: auto;} */
/* #div1{overflow: scroll;} */
/* #div1{overflow: visible;} */
/* #div1{overflow-x: scroll;overflow-y: auto;} */
div{
    background-color: rgb(121, 196, 171);
    border-width: 2px;
    border-color: blue;
    border-style: dashed;
    margin-top:60px;
    padding: 20px 15px 10px 5px;
}
